@import "tailwindcss";
 @import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));




 .active{
    @apply text-blue-600 underline
 }